/* .header{
    background-color: black;
    display: flex;
    height: 10%;
}

.header a {
    color: white; 
    width: 50%;  
}

.header nav ul{
    display: flex;
}

nav{
    width: 50%;
    margin-left: 50%;
}

nav ul li{
    display: flex;
    margin-left: 30px;
} */


/* cod ivo */

.header{
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/* css flexbox */

.flex{
    display: flex;
    /* quebra */
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}


.grid1{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    grid-gap: 20px;
    
}

/* ele vai dividir a partir do quarto item */
.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio{
    grid-column: 1;
    grid-row: 2/5;
    border-top: 10px solid tomato;
    display: block;
}

/* quando a tela for menor que 600px */
@media (max-width: 600px){
    .grid1{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1 > div:nth-child(n + 4){
        display: block;
    }

    .grid1 > div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}